/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
} 

h1{
  font-family: 'Arial', sans-serif;
  color: #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Arial', sans-serif;
  color: #FA7268;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
}

a { 
  color: #29324B;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

footer{
  text-align : center;
  background : #4a4a4a;
  padding: 10px;
}

#logo{
  color: #fff;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

.red{
  color: red;
}

.feature,.defi {
  border: 1px solid #4a4a4a;
  margin: 15px;
  padding: 15px;
  text-align: center;
  width: 400px;
  background: #e1e1e1;
  color: #FA7268;
}

#apropos{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

/* Mise en forme de la baseline */
#baseline{
  background-color: #FA7268;
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-transform: uppercase; 
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}
